doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/out.css')
  body
    block content

  script(type='text/javascript', src='/javascripts/out.js')
  script(type='text/javascript').
    hello()
